<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Pronouncer</title>
</head>
<style>
    .form-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
</style>
<body>
    <form method="post" class="form-center">
        <p>
            <input type="text" name="text" placeholder="Text">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>